.topbar-menu {
    align-items: center; 
    padding: 3em 0 0 0;
    height: 70px;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000;
    width: 100%; 
    background-color: #f9f9f9e4;
}

.topbar-list {
    list-style-type: none;
    display: flex;
    padding: 0 3em;
}

.topbar-list li a{
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2em;
}

.right-items {
    display: flex;
    margin-left: auto;
    gap: 1.5em;
}

.start-button{
    border: #c95454 2px solid;
    color: #c95454;
    padding: 0.6em 1.2em;
    border-radius: 8px;
}
.start-button:hover {
    background-color: #c95454;
    color: white;
    transition: 0.4s;
}

@media (max-width: 850px) {
    .topbar_list {
        padding: 0;
    }
}

/* Phone version topbar constrains */
@media (max-width: 650px) {
    .topbar_list {
        padding: 0 1em;
    }
    .topbar-list li a{
        font-size: 0.9em;
        white-space: nowrap;
    }
    .right-items {
        gap: 1em;
    }
    .home-link{
        margin-right: 1em;
    }
    .topbar-menu {
        position: relative; /* Topbar is not fixed on phones */
    }
}