
/* SPACE FOR REUSABLE WRAPPERS AND ELEMENTS */

#root {
  margin: 0 auto;
  padding: 0 0 2rem 0;
  text-align: center;
}
.page-wrapper{
  margin-top: 10em;
}

.btn-wrap {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  width: 250px;
  padding: 0.6em 1.2em;
  text-decoration: none;
  border-radius: 8px;

  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-block;
  text-align: center;
}

@media (max-width: 650px) {
  .page-wrapper {
      margin-top: 0;
  }
}